* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  letter-spacing: 2px;
}

body {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #0e1309; */
  background-image: url("/icons/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.main-box {
  margin-top: 170px;
  display: inline-block;
  position: relative;
  width: fit-content;
}

.main-text-box {
  font-size: 30px;
  letter-spacing: 3px;
  /* word-spacing: 2px; */
  /* position: static; */
  padding: 15px 20px;
  background-color: #606c38;
  color: #fdf6c3;
  pointer-events: none;
  z-index: 2;
}
.main-text-box-back {
  z-index: -1;
  top: 15px;
  left: 15px;
  position: absolute;
  width: 702px;
  height: 112px;
  background-color: #283618;
  display: inline-block;
}

.text-info {
  display: inline-block;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 20px;
  width: 1050px;
  text-align: left;
  border-radius: 10px;
  background-color: #fdf6c3;
  border: 2px solid #606c38;
  backface-visibility: 50%;
  pointer-events: none;
}

.buttons-box {
  display: flex;
  flex-direction: row;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  gap: 60px;
}
.button {
  display: inline-block;
  /* width: 170px;
  height: 170px; */
  background: #606c38;
  padding: 20px;
  /* text-align: center; */
  border-radius: 35px;
  color: white;
  line-height: 25px;
}

.icon-center {
  text-align: center;
  display: inline-block;
  /* margin: 0 auto; */
}

.icon {
  width: 125px;
  height: 125px;
}
